<footer style="background-color: green; color: white; margin-top: 150px; " class="page-footer font-small  pt-4">

   
    <!-- Copyright -->
    <div style=" float: left; margin-left: 200px;" class="container">© 2021
 
      <a style="text-decoration: none;" href="/home">Meik Yazılım</a>
    </div>
    <div style="padding-bottom: 40px; ">
       
    </div>
    <!-- Copyright -->
  
  </footer> 