
body{
    background-color: #DDDDDC;
}
.container .cityLink .cityContainer .plateNo{
    font-weight: 700;
    font-size: 16px;
    line-height: 38px;
    text-align: center;
    display: block;
}
.plateNo:hover{
   background-color: #F3E300;
   border-radius: 3px;
   color: black;;
}
.container .cityLink{
    z-index: 2;
    font-family: sans-serif;
    display: inline-block;
    padding: 0;
    margin-right: 21px;
    text-decoration: none;
    min-height: 82px;

}



.container .cityLink .name{
    color: #333;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    display: block;
    line-height: 14px;
}
.container .cityLink .cityContainer{
   
    width: 42px;
    height: 42px;
    border-radius: 3px;
    background-color: #28a745;
    border: 2px solid #28a745;;
    display: block;
    box-shadow: 0 2px 0 0 rgb(0 0 0 / 8%);
    color: #fff;
    margin: auto auto 9px;
}

.cityPlatesContainer{
    position: relative;
    min-height: 100px;
    width: 100%;
    display: block;
    overflow: auto;
    margin-bottom: 12px
}
.ys-main{
    margin-top: 20px;
}
@media (min-width: 1px){
    .container {
        width: 1009px;
    }
}
@media (min-width: 1px){
    .col-md-1 {
        width: 6.25%;
    }
}
@media (min-width: 1px){
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-13, .col-md-14, .col-md-15, .col-md-16 {
        float: left;
    }
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 6px;
    padding-right: 6px;
}


div{
    display: block;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-13, .col-lg-14, .col-lg-15, .col-lg-16, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-13, .col-md-14, .col-md-15, .col-md-16, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-13, .col-sm-14, .col-sm-15, .col-sm-16, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-13, .col-xs-14, .col-xs-15, .col-xs-16 {
    position: relative;
    min-height: 1px;
    padding-left: 6px;
    padding-right: 6px;
}
.head1 h1 {
    font-size: 18px;
    font-family: Open Sans,sans-serif;
    font-weight: 600;
    padding: 25px;
}
