tbody tr th{
    background-color: #008641;
    color: white;
    font-size: 19px;
    font-weight: 600;
    
   
}

thead tr th{
    background-color:#008641 ;
    color: white;
}
.arabtn{
    border: 1px solid #28a745;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
}
.arabtn:hover{
    background-color: #F3E300;
    color: black;

}